{% extends "crud/base.html" %}
{% block content %}
<table class="table table-hover">
<thead>
    <td style="color:#FF0000; font-size:160%; ">Customer NAME </td>
	<td style="color:#FF0000; font-size:160%; ">Account NAME </td>
    <td style="color:#FF0000; font-size:160%; ">Account Number</td>
	<td style="color:#FF0000; font-size:160%; ">Balance</td>
    <td></td>
</thead>

{% for acc in account_list %}
<tr>
    <td>{{acc.customer_name}}</td>
	 <td>{{acc.account_name}}</td>
	 <td>{{acc.account_num}}</td>
    <td>{{acc.balance}}</td>
</tr>
{% endfor %}


</table>
<a style="color:black; font-size:160%; background-color:red;" href="{% url 'index'%}">Back</a><hr>
{% endblock content %}
