{% extends "crud/base.html" %}
{% load crispy_forms_tags %}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1> TRANSFER MONEY</h1></center>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <center>
        <input type="submit" values="Save" class="btn btn-success">
            </center>
</form>
<a style="color:black;" href="{% url 'index'%}">Back</a><hr>

</body>
</html>
{%endblock content%}